html, body {
  background-color: #4D4C4C;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.titletext {
  font-size: larger;
}

.prefixtext {
  margin: 10px auto 10px auto;
  border: 1px solid #FFFFFF;  
}

.sitebuttons {
  margin: 10px auto 10px auto;
  border: 1px solid #FFFFFF;
}