html, body {
  background-color:  #1f201e;
  font-family:       sans-serif;
  color:             #aaaca6;
}

.hidden {
  display: none;
}

.titletext {
  font-size: larger;
}

p {
  margin: 5px 10px;
}

label {
  margin: 5px;
}

input {
  margin: 5px 10px;
}

.modifier {
  background-color: #8d9089;
  border-color:     #4e504c;
  color:            #1f201e;
}

.applybutton {
  margin: 0px auto;
  background-color: #1f201e;
  color: #aaaca6;
  border: 1px solid #babcb7;
  font-size:  large;
}

.applybutton:hover {
  background-color: #4e504c;
}

checkbox {
  margin: 5px;
  float:  left;
}

.prefixtext {
  margin: 10px auto;
  border: 1px solid #babcb7;  
}


.sitebuttons {
  margin: 10px auto;
  border: 1px solid #babcb7;
}

.outer_box {
  display: flex;
}

.logo_wrapper {
  width:  150px;
  margin: 10px 10px;
  border: 1px solid #babcb7;
}

.logo {
  display:  block;
  margin:   10px auto;
}

.apptext {
  margin:       auto 5px;
  text-align:   center;
}